@import url('https://rsms.me/inter/inter-ui.css');

body {
    position: relative;
    background-color: #292929;
    font-family: 'Inter UI', sans-serif;
    color: #ffffff;
    overflow-x: hidden;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    line-height: 1.1;
    color: #fe9e00;
}

a {
    color: #ffffff;
    text-decoration: underline
}

a:hover,
a:focus,
.anchorjs-link:hover  {
    color: #ffffff;
    text-decoration: none;
}

.bg-circle,
.bg-angle {
    position: absolute;
    top: 0; right: auto; bottom: auto; left: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.bg-circle {
    top: -50px; right: -50px; left: auto;
}
.bg-circle.large {
    width: 50%;
    height: auto;
    top: -25%; right: -15%;
}
.bg-angle.large {
    width: 60%;
    height: auto;
}

.navbar-collapse {
    box-shadow: none !important;
}

.navbar-inverse {
    background-color: transparent;
    border: none;
}

.navbar-inverse .navbar-collapse {
    display: none !important;
}

.navbar-inverse .navbar-brand:before {
    display: none;
    vertical-align: middle;
    content: ' ';
    width: 25px;
    height: 25px;
    color: #ffffff;
    background-image: url('../images/logoMark_stack_simpleSourcing.svg');
    background-repeat: no-repeat;
}

.navbar-inverse .navbar-nav > li > a {
    color: #888888;
    font-size: 18px;
    font-weight: bold;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 0;
    padding-right: 0;
    -webkit-transition: color 0.25s ease-out;
    -moz-transition: color 0.25s ease-out;
    -ms-transition: color 0.25s ease-out;
    -o-transition: color 0.25s ease-out;
    transition: color 0.25s ease-out;
}
.landing .navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #ffffff;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: transparent;
    border-bottom: 2px solid #ffffff;
    border-radius: 0;
}

.navbar-inverse .navbar-nav > li > a[href^="http://"],
.navbar-inverse .navbar-nav > li > a[href^="https://"] {
    margin-top: 0;
    padding: 14px 25px;
    background-color: #000000;
    border-radius: 9px;
}

.navbar-inverse .navbar-toggle,
.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
    background-color: #000000;
    border-color: #000000;
}

#search-demo-container,
#search-demo-container a {
    color: #000000 !important;
}

.sidebarTitle {
    display: none !important;
}

#mysidebar.nav li a,
#mysidebar.nav li a:hover,
#mysidebar.nav li a:focus,
#mysidebar.nav ul li a,
#mysidebar.nav li.active > a {
    border-top: none;
    color: #ededed;
    background-color: transparent;
}
#mysidebar.nav li > ul {
    margin-left: 20px;
}

#mysidebar.nav li a:hover,
#mysidebar.nav li a:focus,
#mysidebar.nav li.active > a {
    color: #ffffff;
}
#mysidebar.nav li.active > a {
    font-weight: bold;
}

#mysidebar.nav > li.active > a:before {
    display: inline-block;
    position: absolute;
    top: 0;
    left: -10px;
    content: "";
    width: 10px;
    height: 10px;
    margin: 9px 0;
    background-image: url('../images/circle-green.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#mysidebar.nav li > a > span:after {
    content: '\25be';
}
#mysidebar.nav li.active > a > span:after {
    content: '\25b4';
}

span.projectTitle {
    vertical-align: middle;
    display: inline-block;
}
.projectSubtitle {
    display: none;
    font-size: 22px;
}

.container.topnavlinks {
    padding-top: 23px;
}

.hero {
    margin-bottom: 25px;
}

.hero h1 {
    font-size: 7rem;
    margin-bottom: 50px;
    color: #ffffff;
}

.hero .btn-lg {
    font-size: 22px;
    font-weight: bold;
    -webkit-border-radius: 14px;
    border-radius: 14px;
    padding: 18px 46px;
    vertical-align: middle;
    text-decoration: none;
}

.hero .btn-primary,
.hero .btn-primary:hover {
    background-color: #000000;
    border-color: #000000;
    
    -webkit-transition: background 0.25s ease-out;
    -moz-transition: background 0.25s ease-out;
    -ms-transition: background 0.25s ease-out;
    -o-transition: background 0.25s ease-out;
    transition: background 0.25s ease-out;
}

.hero .btn-primary:hover {
    background-color: #000000;
    border-color: #000000;
}

.hero .btn i {
    display: inline-block;
    margin-left: 15px;
    vertical-align: middle;
}

.main-text h2 {
    font-size: 3.5rem;
    font-weight: 500;
    margin-bottom: 2rem;
}


p.intro {
    font-size: 2rem;
    font-weight: 200;
    line-height: 3.5rem;
    margin-bottom: 30px;
}

.row.callout {
    text-align: center;
    margin: 5rem 0;
}

.row.callout h1 {
    margin: 0;
}

.row.callout h1 i {
    font-style: normal;
}

.row.callout h1 i:before {
    content: " ";
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
}

.row.callout h1 i.get-started:before {
    background-image: url('../images/ico_ThumbUp.svg'); 
}

.row.callout h1 i.api:before {
    background-image: url('../images/ico_Monitor.svg'); 
}

.row.callout h1 i.read-only:before {
    background-image: url('../images/ico_HappySpeechBubble.svg');
}

.row.callout h1 i.scalable:before {
    background-image: url('../images/ico_square-ruler.svg'); 
}

.row.callout h1 i.productive:before {
    background-image: url('../images/ico_growthchart.svg'); 
}

.row.callout h1 i.reliable:before {
    background-image: url('../images/ico_Server.svg'); 
}

footer {
    margin: 0;
    padding: 100px;
    color: white;
    background-image: url('../images/foooter-bg-angle.svg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

footer span.brandtext {
    font-size: 1.15rem;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

code.highlighter-rouge {
    color: #73d3e4;
    background-color: #000000;
}

a code.highlighter-rouge {
    text-decoration: underline;
}
a:hover code.highlighter-rouge,
a:focus code.highlighter-rouge {
    text-decoration: none;
}

@media (min-width: 992px) {
    .navbar-inverse .navbar-collapse,
    .projectSubtitle {
        display: block !important;
    }
}