<footer>
    <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    &copy;{{ site.time | date: "%Y"  }} {{site.company_name}}. All rights reserved. <br />
                    {% if page.last_updated %}<span>Page last updated:</span> {{page.last_updated}}<br/>{% endif %} Site last generated: {{ site.time | date: "%b %-d, %Y"  }}
                </div>
                <div class="col-lg-6 footer">
                    <span class="brandtext">Powered by</span>
                    <img src="../images/Logo_Horizontal_Wht.svg">
                </div>
            </div>
    </div>
</footer>
