<div class="hero">
    <div class="container">
        <div class="col-xs-12">
            <h1>A Java library for Event Sourcing using Kafka</h1>
            <p class="intro"><strong>Simple Sourcing</strong> is an API for building event sourcing systems where the data is stored in <a href="https://kafka.apache.org/">Kafka</a>. Event Sourced systems treat all the data as an immutable sequence of events. It is ideal for microservice architectures at scale to decouple data.</p>
            </div>
                <a href="docs_home.html" class="btn btn-primary btn-lg">View Documentation <i class="fa fa-long-arrow-right"></i></a>
            </div>
        <div>
    </div>
</div>